################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactiveConsole/obj
/ReactiveConsole/bin/Debug/netcoreapp3.1
/.vs/ReactiveConsole
